body {
    margin: 0;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

input {
    height: 30px;
    width: 200px;
}

#submit-button {
    height: 35px;
    width: 200px;
    background-color: rgb(46, 46, 253);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
}

.students {
    width: 300px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(228, 228, 228);
    justify-content: center;
    text-align: center;
}

#submit-button:hover {
    background-color: rgb(40, 40, 202);
}